<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <title>Document</title>
</head>
<body>

    
<div>
    <h1>About us </h1>
    <p>Western cape destination management company brings you
        the complete travel package in terms of innovation, service quality and affordability

        our relationship with all the various 5 star, 4 star and 3 star
        hotels in the werstern cape puts in the unique position to offer you the lowest possible
        packages in the travel industry

        our fleet of vehicles range from  60, 52, 32 and 22 seater busses, latest
        SUV vehicles, and luxury BMW/ MERCEDES sedans. wcdmc is your one stop shop for your ultimate in convinience,
        peace of mind, and most of all, premium top quality service.

        my team consists of highly motivated, creative and experienced professionals with its main aim to find
        solutions to your travel desires.

        at WC-DMC, we beleive that exceptional service comes from the heart, and that is what truly makes our 
        business human.
    </p>

    
<div>
    
    <div class="text">
        <h1> Our fleet</h1>
    </div>
<div class="fleet">
    <figure>
        <img src="./image/fleet1.jpg">
        <img src="./image/fleet2.jpg">
        <img src="./image/fleet3.jpg">
        <img src="./image/fleet4.jpg">
        <img src="./image/fleet5.jpg">
        <img src="./image/fleet6.jpg">
    </figure>
</div>

</div>

</div>
    
</body>
</html>
