    {% extends  'base.html' %}
    {% load static %}



    {% block content %}
    <!-- Slider image -->
    <div class="slider">
        <div class="slides">
            <div class="slide">
                <div class="slide-data">
                    <h1> cape point tour</h1>
                    <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae ratione voluptatum quos
reiciendis officiis ut fugit neque quasi delectus ea veritatis recusandae temporibus quod,
dolorum distinctio nemo nobis aperiam eum!</p> -->
                    <!-- <button>SUBSCRIBE</button> -->
                </div>
            </div>

            <div class="slide">
                <div class="slide-data">
                    <h1>water front</h1>
                    <!-- <p>join us as we travel around the cape peninsula and encouter beautiful beaches, dramatic scenery,
the mythical meeting place of the two oceans, local woldlife
</p> -->
                    <!-- <button>COMMENT</button> -->
                </div>
            </div>

            <div class="slide">
                <div class="slide-data">
                    <h1> safari tour</h1>
                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, dolorem quidem. Recusandae
enim nam id, et, eum nihil laborum repellendus nobis, quae dolorem ea labore a praesentium quo
quisquam asperiores!</p> -->
                    <!-- <button>SHARE</button> -->
                </div>
            </div>
        </div>

        <button class="arrows prev" onclick="plusslide(-1)">
            <span><i class="fas fa-angle-left"></i></span>
        </button>

        <button class="arrows next" onclick="plusslide(1)">
            <span><i class="fas fa-angle-right"></i></span>
        </button>

        <div class="dots">
            <span onclick="currentslide(1)"></span>
            <span onclick="currentslide(2)"></span>
            <span onclick="currentslide(3)"></span>
        </div>
    </div>

    <div class="title">
        <h1>WESTERN CAPE  ~ DESTINATION MANAGEMENT COMPANY</h1>
    </div>
    <!-- Features -->
    <section id="feature">
        <div class="title-text">
            <p class="titre"> Innovation in travel </p>
            <!-- <h1>Why Choose western cape <br>destination management company</h1> -->
        </div>

        <div class="feature-box">
            <div class="features">
                <h1>our fleet</h1>
                <div class="feature-desc">
                    <div class="feature-icon">
                        <i class="fa fa-shield"></i>
                    </div>
                    <div class="feature-text">
                        <p>our fleet of vehicles range from 60, 52, 32 and 22 seater busses, latest
                            SUV vehicles, and luxury BMW/ MERCEDES sedans. wC-DMC is your one stop shop for your
                            ultimate in convinience,
                            peace of mind, and most of all, premium top quality service.our relationship with all
                            the various 5 star, 4 star and 3 star
                            hotels in the werstern cape puts in the unique position to offer you the lowest possible
                            packages in the travel industry</p>
                    </div>

                </div>

                <h1>Experienced staff</h1>
                <div class="feature-desc">
                    <div class="feature-icon">
                        <i class="fa fa-check-square-o"></i>
                    </div>
                    <div class="feature-text">
                        <p>my team consists of highly motivated, creative and experienced professionals with its
                            main aim to find
                            solutions to your travel desires
                            at WC-DMC, we beleive that exceptional service comes from the heart, and that is what
                            truly makes our
                            business human.</p>
                    </div>

                </div>
            </div>

            <div class="features-img">
                <img src="{% static 'images/fleet1.jpg' %}" alt="">
            </div>
        </div>

    </section>

    <!-- service -->
   
    <section id="service">
        <div class="title-text">
            <!-- <p> services </p> -->
            <h1>See Our List Of Tours And Packages On Offer</h1>
        </div>

        
       
        <div class="service-box "> 
            {% for dest in dests %}
            <div class="single-service {% if dest.dsm %} d-none d-sm-block {% endif %}">             
                
                <img src="{{ dest.image.url }}" alt="" >
                <div class="overlay"></div>
                <div class="service-desc">
                    <h3>{{ dest.title }}</h3>
                    <hr> 
                    <p> </p>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </section>
   
    <!-- End service  -->

    <!-- Footer -->
    <section id="footer">
        <!-- <img src="{% static 'images/bmw.jpg' %}" alt="footer pict" class="footer-img">
        <div class="title-text">
            <p>CONTACT US</p>
            >
        </div> -->

        <div class="footer-raw">
            <div class="footer-left">
                <h1>Opening Hours</h1>
                <p><i class="fa fa-clock-o"></i>Monday to Friday 7am to 11 pm</p>
                <p><i class="fa fa-clock-o"></i>Saturday and sunday 8am to 11pm</p>
            </div>
            <div class="footer-right">
                <h1>Get in Touch</h1>
                <p>#Company address<i class="fa fa-map-marker"></i></p>
                <p>info@wcdmc.co.za<i class="fa fa-paper-plane"></i></p>
                <p>+27 (0) 678-068-388<i class="fa fa-phone"></i></p>

            </div>
        </div>

        <div class="social-links">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-youtube-play"></i>
            <!-- <p>Copyright Frank Mpoyi Tshibuyi</p> -->
        </div>


    </section>



    
   

    
{% endblock %}


